# torch==1.10.2
# transformers
# scikit-learn
# tqdm
# numpy
# datasets
# nltk
# scipy
torch==2.0.1
scipy
# packaging
accelerate
# transformers>=4.9.0
transformers @ git+https://github.com/huggingface/transformers@a6e6b1c622d8d08e2510a82cb6266d7b654f1cbf
scikit-learn>=0.24.1
tqdm>=4.61.1
numpy>=1.20.1
datasets>=1.18.1
nltk>=3.5
scipy>=1.6.3
sentencepiece
peft
protobuf==3.20.0
# termcolor
# jsonlines
# unidic-lite
# einops
# flash-attn
# auto-gptq
# fire